{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [],
  "rules": {
    "arrow-body-style": [1, "as-needed"],
    "comma-dangle": 0,
    "default-case": 0,
    "prefer-template": 1,
    "no-use-before-define": 0,
    "no-unused-vars": 1,
    "new-cap": 0,
    "no-console": 0,
    "key-spacing": 1,
    "jsx-quotes": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-bind": 1,
    "react/wrap-multilines": 1,
    "semi": [2, "never"],
    "strict": 0
  }
}
